<div class="mediumModal">
  <bodycardtitle [title]=title [subtitle]=subtitle [icon]=icon [color]=color></bodycardtitle>

  <mat-dialog-content class="mat-typography">

    <div class="row" style="margin-top: 20px !important;">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Completando documentos para el usuario: <strong style="text-transform: capitalize;">{{user}}</strong>
        </h3>
      </div>
    </div>

    <div class="row" style="margin-top: 30px !important; ">


      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <mat-card class="flexi row">

          <div class="noPadding col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="noMargin">Subir archivo</h2>
          </div>

          <input style="padding: 20px 0px;" #inputFile class="col-lg-6 col-md-6 col-sm-12 col-xs-12" (change)="uploadFile($event)" type="file" id="avatar"
            name="avatar" accept="image/png, image/jpeg, application/pdf">

          <mat-form-field class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <mat-select [(ngModel)]='fileType'>
              <mat-option [value]="'Biopsia'">
                Biopsia
              </mat-option>
              <mat-option [value]="'Imagenes médicas'">
                Imágenes médicas
              </mat-option>

              <mat-option [value]="'Radioterapias'">
                Radioterapia
              </mat-option>

              <mat-option [value]="'Quimioterapia'">
                Quimioterapia
              </mat-option>

              <mat-option [value]="'Historia clínica'">
                Historia clínica
              </mat-option>


            </mat-select>

          </mat-form-field>

          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding-top: 14px !important;">
            <button mat-raised-button class="successbutton" [(disabled)]="fileButton" (click)="upload()">Subir</button>
          </div>

        </mat-card>

      </div>



      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 50px;">
        <h2>Biopsia</h2>

        <p style="color: rgb(214, 47, 18)">Estos archivos no pueden borrarse una vez subidos, debido a que son necesarios en el proceso de diagnostico.</p>
        <table class="table">
          <thead>
            <tr>
              <th style="text-align: left;">Nombre del archivo</th>
              <th style="width:150px">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of userfiles.b">
              <td style="text-align: left;">{{b.name}}</td>
              <td style="text-align: center;">

                <button mat-mini-fab class="successbutton" (click)="getFile(b.id, b.name)" matTooltip="Descargar el archivo">
                  <mat-icon>cloud_download
                  </mat-icon>
                </button>

           <!--       <button mat-mini-fab class="errorbutton" (click)="deletefile(b.id)" matTooltip="Eliminar archivo">
                  <mat-icon>close</mat-icon>
                </button> -->
 

                
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 40px;">
        <h2>Imágenes Médicas</h2>
        <p style="color: rgb(214, 47, 18)">Estos archivos no pueden borrarse una vez subidos, debido a que son necesarios en el proceso de diagnostico.</p>
        <table class="table">
          <thead>
            <tr>
              <th style="text-align: left;">Nombre del archivo</th>
              <th style="width:150px">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of userfiles.i">
              <td style="text-align: left;">{{f.name}}</td>
              <td style="text-align: center;">

                <button mat-mini-fab class="successbutton" (click)="getFile(f.id, f.name)" matTooltip="Descargar el archivo">
                  <mat-icon>cloud_download
                  </mat-icon>
                </button>

              <!--   <button mat-mini-fab class="errorbutton" (click)="deletefile(f.id)" matTooltip="Eliminar archivo">
                  <mat-icon>close</mat-icon>
                </button>
 -->
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 40px;">
        <h2>Radioterapias</h2>

        <table class="table">
          <thead>
            <tr>
              <th style="text-align: left;">Nombre del archivo</th>
              <th style="width:150px">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of userfiles.r">
              <td style="text-align: left;">{{f.name}}</td>
              <td style="text-align: center;">

                <button mat-mini-fab class="successbutton" (click)="getFile(f.id, f.name)" matTooltip="Descargar el archivo">
                  <mat-icon>cloud_download
                  </mat-icon>
                </button>

                <button mat-mini-fab class="errorbutton" (click)="deletefile(f.id)" matTooltip="Eliminar archivo">
                  <mat-icon>close</mat-icon>
                </button>

              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 40px;">
        <h2>Quimioterapias</h2>

        <table class="table">
          <thead>
            <tr>
              <th style="text-align: left;">Nombre del archivo</th>
              <th style="width:150px">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of userfiles.q">
              <td style="text-align: left;">{{f.name}}</td>
              <td style="text-align: center;">

                <button mat-mini-fab class="successbutton" (click)="getFile(f.id, f.name)" matTooltip="Descargar el archivo">
                  <mat-icon>cloud_download
                  </mat-icon>
                </button>

                <button mat-mini-fab class="errorbutton" (click)="deletefile(f.id)" matTooltip="Eliminar archivo">
                  <mat-icon>close</mat-icon>
                </button>

              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 40px;">
        <h2>Historias clínicas</h2>

        <table class="table">
          <thead>
            <tr>
              <th style="text-align: left;">Nombre del archivo</th>
              <th style="width:150px">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of userfiles.h">
              <td style="text-align: left;">{{f.name}}</td>
              <td style="text-align: center;">

                <button mat-mini-fab class="successbutton" (click)="getFile(f.id, f.name)" matTooltip="Descargar el archivo">
                  <mat-icon>cloud_download
                  </mat-icon>
                </button>

                <button mat-mini-fab class="errorbutton" (click)="deletefile(f.id)" matTooltip="Eliminar archivo">
                  <mat-icon>close</mat-icon>
                </button>

              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="warn">Cerrar</button>
  </mat-dialog-actions>
</div>