<div class="row fullwidth">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <mat-card class="mat-card-cardtitled" style="height: calc(100% - 33px);width: 100%;">
      <bodycardtitle [title]=cards.sign.title [subtitle]=cards.sign.subtitle [icon]=cards.sign.icon
        [color]=cards.sign.color></bodycardtitle>
      <form [formGroup]='profileFormGroup'>
        <div class="row">

          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input matInput placeholder="Nombre" formControlName='name'>
            <mat-error *ngIf="profileFormGroup.controls.name.hasError('required')">
              El nombre es <strong>obligatorio</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.name.hasError('maxlength')">
              El nombre debe tener máximo <strong>75 caracteres</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.name.hasError('minlength')">
              El nombre debe tener mínimo <strong>5 caracteres</strong>.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input matInput placeholder="Primer apellido" formControlName='lastname'>
            <mat-error *ngIf="profileFormGroup.controls.lastname.hasError('required')">
              El primer apellido es <strong>obligatorio</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.lastname.hasError('maxlength')">
              El primer apellido debe tener máximo <strong>40 caracteres</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.lastname.hasError('minlength')">
              El primer apellido debe tener mínimo <strong>6 caracteres</strong>.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input matInput placeholder="Segundo pellido" formControlName='surname'>
            <mat-error *ngIf="profileFormGroup.controls.surname.hasError('required')">
              El segundo apellido es <strong>obligatorio</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.surname.hasError('maxlength')">
              El segundo apellido debe tener máximo <strong>40 caracteres</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.surname.hasError('minlength')">
              El segundo apellido debe tener mínimo <strong>6 caracteres</strong>.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input matInput placeholder="Número de teléfono" formControlName='phone'>
            <mat-error *ngIf="profileFormGroup.controls.phone.hasError('required')">
              El # de documento es <strong>obligatorio</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.phone.hasError('maxlength')">
              El # de documento debe tener máximo <strong>15 caracteres</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.phone.hasError('minlength')">
              El # de documento debe tener mínimo <strong>7 caracteres</strong>.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input matInput placeholder="Número de celular" formControlName='cellphone'>
            <mat-error *ngIf="profileFormGroup.controls.cellphone.hasError('required')">
              El # de documento es <strong>obligatorio</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.cellphone.hasError('maxlength')">
              El # de documento debe tener máximo <strong>30 caracteres</strong>.
            </mat-error>
            <mat-error *ngIf="profileFormGroup.controls.cellphone.hasError('minlength')">
              El # de documento debe tener mínimo <strong>10 caracteres</strong>.
            </mat-error>
          </mat-form-field>
          <div class="col-lg-12 col-md-12 col-sm-12 centered">
            <button mat-raised-button [disabled]="!profileFormGroup.valid" (click)="editProfile()"
              color="primary">Guardar</button>
          </div>
        </div>
      </form>

      <div class="row" style="margin-top: 40px !important;">

        <h2 class="centered fullwidth">Subir firma</h2>

        <input style="padding: 20px 0px;" #inputFile class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
          (change)="uploadFile($event)" type="file" id="avatar" name="avatar"
          accept="image/png, image/jpeg, application/pdf">


        <div class="col-lg-12 col-md-12 col-sm-12 centered">
          <button mat-raised-button (click)="upload()" color="primary">Guardar firma</button>
        </div>
      </div>
    </mat-card>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <mat-card class="mat-card-cardtitled" style="height: 350px;width: 100%;">
      <bodycardtitle [title]=cards.pass.title [subtitle]=cards.pass.subtitle [icon]=cards.pass.icon
        [color]=cards.pass.color></bodycardtitle>
      <form [formGroup]='passwordFormGroup'>
        <div class="row">

          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="password" matInput placeholder="Contraseña Actual" formControlName='actual'>
            <mat-error *ngIf="passwordFormGroup.controls.actual.hasError('required')">
              El nombre es <strong>obligatorio</strong>.
            </mat-error>

          </mat-form-field>


          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="password" matInput placeholder="Contraseña nueva" formControlName='new'>
            <mat-error *ngIf="passwordFormGroup.controls.new.hasError('required')">
              El nombre es <strong>obligatorio</strong>.
            </mat-error>
            <mat-error *ngIf="passwordFormGroup.controls.new.hasError('maxlength')">
              El nombre debe tener máximo <strong>12 caracteres</strong>.
            </mat-error>
            <mat-error *ngIf="passwordFormGroup.controls.new.hasError('minlength')">
              El nombre debe tener mínimo <strong>8 caracteres</strong>.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="password" matInput placeholder="Repita contraseña nueva" formControlName='rnew'>
            <mat-error *ngIf="passwordFormGroup.controls.rnew.hasError('required')">
              El nombre es <strong>obligatorio</strong>.
            </mat-error>
            <mat-error *ngIf="passwordFormGroup.controls.rnew.hasError('maxlength')">
              El nombre debe tener máximo <strong>12 caracteres</strong>.
            </mat-error>
            <mat-error *ngIf="passwordFormGroup.controls.rnew.hasError('minlength')">
              El nombre debe tener mínimo <strong>8 caracteres</strong>.
            </mat-error>
          </mat-form-field>

          <div class="col-lg-12 col-md-12 col-sm-12 centered" style="margin-top: 20px;">
            <button mat-raised-button [disabled]="!passwordFormGroup.valid || (passwordFormGroup.value.rnew != passwordFormGroup.value.new) " (click)="editPassword()" color="primary">Cambiar
              contraseña</button>
          </div>
        </div>
      </form>
    </mat-card>
  </div>


</div>