<breadcrumb></breadcrumb>

<mat-card class="mat-card-cardtitled" style="height: calc(100% - 33px);width: 100%;">
  <bodycardtitle [title]=cards.aud.title [subtitle]=cards.aud.subtitle [icon]=cards.aud.icon [color]=cards.aud.color>
  </bodycardtitle>

  <canvas style="height:400px;" id="myChartbars" height="350" class="fullwidth " style="margin-top: 10px;"></canvas>


  <canvas style="height:400px;" id="myChartbars2" height="400" class="fullwidth " style="margin-top: 10px;"></canvas>

</mat-card>